html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.theme-default {
  --color-primary: #4bcaff;  
  --color-accent: #35444f;
  --font-color: #000000;
}.theme-change{
  --color-primary: #17ed90; 
  --color-accent: #12cdea;
  --font-color: #860202;
}


body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
}
.container {
  width: 1280px;
  margin: 0 auto;
}

.logo {
  font-size: 80px;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 40px;
}

.logo span {
  color: var(--font-color);
}

.logo a {
  color: var(--color-primary);
}

.navigation {
  display: flex;
  justify-content: center;
  background-color: var(--color-accent);
  padding: 0;
}

.navigation > li {
  border-left: 1px solid #ffffff;
  padding: 24px 32px;
}

.navigation li:last-child {
  border-right: 1px solid #ffffff;
}

.navigation li:hover {
  background-color: #222f3a;
}

.navigation a {
  color: white;
  font-size: 24px;
  line-height: 1.2;
}

.wrapper-content {
  display: flex;
  gap: 52px;
  margin-top: 48px;
}

.sidebar {
  min-width: 341px;
}

.nav-sidebar {
  border: 1px solid rgba(128, 128, 128, 0.495);
}

.nav-sidebar a {
  color: #485863;
  font-size: 27px;
  line-height: 1;
}

.nav-sidebar li {
  padding: 25px 0 25px 25px;
  transition: 500ms ease-in-out;
}

.nav-sidebar li:hover {
  background-color: #dbdbdb;
  cursor: pointer;

}

.nav-sidebar li:hover a {
  color: #35444f;
  padding-left: 30px;
}

.image-wrapper {
  border: 1px solid rgba(128, 128, 128, 0.495);
  padding: 72px 268px 73px 297px;
  margin-bottom: 37px;
}

.main-content p {
  font-size: 18px;
  line-height: 1.3;
  margin-top: 34px;
  margin-bottom: 0;
  color: #2c2c2c;
}

.footer {
  background-color: rgba(99, 105, 110, 0.48);
  margin-top: 51px;
}

.nav-footer {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  padding: 20px 40px;
}

.nav-footer a {
  color: #0c1927;
  font-size: 28px;
  line-height: 1;
}

.nav-footer li:hover a {
  color: #3181a6;
  border-bottom: 1px solid #3181a6;
  padding-bottom: 13px;
}

.footer nav {
  display: flex;
}

.footer p {
  margin-left: auto;
  color: var(--font-color);
  font-size: 24px;
  line-height: 1;
  padding-right: 40px;
}

.change-theme {
  position: absolute;
  top:40px;
  right:40px;
  padding: 8px 20px;
  font-size: 16px;
  cursor: pointer;
}
